@page
@model DemoApplication1.LayoutModel
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <a asp-area="" asp-controller="Auth" app-action="SignIn">facebookLogin</a>


</body>
</html>